
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AmazonApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!--Link to simple bootstrap styels-->
    <script src="https://kit.fontawesome.com/9873785e23.js" crossorigin="anonymous"></script>


</head>
<body>
    <div class="bg-success text-white p-2">
        <div class="navbar-brand">Amazon Bookstore</div>
            <div class="text-right">
                <vc:cart-summary />
                <vc:navigation-menu />
            </div>
        </div>
    </div>
    @RenderBody()
</body>
</html>
