@{
    ViewData["Title"] = "Amazon Book Store";
}

@model ProjectListViewModel

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <header>
            <br />
            <h1 class="text-center">Welcome to Amazon Bookstore!</h1>
            <br />
        </header>

        <table class="table table-bordered table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Title</th>
                    <th>Author Name</th>
                    <th>Publisher</th>
                    <th>ISBN</th>
                    <th>Classification, Category</th>
                    <th>Price</th>
                    <th># of Pages</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model.Books)
                {
                    <partial name="BookSummary" model="x" />
                }
            </tbody>
        </table>
    </div>
</body>

<div page-model="@Model.PagingInfo"  page-action="Index"
     page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-success" page-url-category="@Model.CurrentCategory"
     class="btn-group pull-right m-1"></div>